/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

html{
  background-color: black;
	
}

body{
  margin-top: 80px;
  background: url("assets/smarthome_intelligens_otthon.jpg") no-repeat center center fixed;
  background-origin:content-box;
}

#main{
  width: 50%;
  max-width: calc(100vw - 10px);
  margin: 1rem auto;
  border: 0.04rem solid;
  display: table;
  color: white;
  border-radius: 0.3rem;
  padding: 1rem;
  background-color: hsla(232, 90%, 33%, 0.5);

  box-shadow: hsla(0, 0%, 0%, .8) 1rem 1rem 5rem;
}

#profil{
 text-align: center;
}

img{
  width: 11rem;
  height: 11rem;
  margin-top: -60px;
  border-radius: 80%;
  padding: 2px;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  filter: grayscale(50%);
  box-shadow: hsla(0, 0%, 0%, .6) 5px 5px 10px;
}

img:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
  background-color: transparent;
}

#profession{
   
  width:70%;
  height: 90px;
  border-radius: 5px;
  margin: 0px auto;
  padding: 5px;
}

#prof1, #prof2, #prof3{
  float:left;
  width: 33.333%;
  margin: 0 auto;
  text-align: center;
}

#description{
  border-radius: 10px;
  padding: 5px;
}

#availability{
  width: 40%;
  border-radius: 10px;
  padding: 5px;
  float: left;
}

#availability2{
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 6px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  font-size: 12px;
  color: hsla(224, 100%, 11%, 1); 
  padding: 5px;
  border: 1px solid;
}

#telephone{
  font-size: 12px;
}

#about_me{
  width: 59%;
  background-color: hsla(0, 0%, 80%, .65);
  border-radius: 6px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  border-radius: 6px;
  float: right;
  padding: 5px;
  font-size: 14px;
  color: hsla(224, 100%, 11%, 1);
  border: 1px solid;
}

#address{
  border-radius: 5px;
}

#social{
  background-color: lightblue;
  border-radius: 0.5rem;
  text-align: center;
  margin: 1rem auto;
  width: 70%;
  border: 1px solid;
  color: hsla(224, 100%, 11%, 1);
	display: block;
}

#name{
  border: 2px ;
  font-size:32px;
  font-style: ;
}

.logo{
  width: 40px;
  margin-top: 0px;
  height: 40px;
  color: blue;
  margin: 0 auto;
}

.soc_logo{
  width: 20px;
  height: 20px;
  color: lightblue;
  margin: 0 auto;
}

p{
  margin-top: 5px;
  font-size: 27x;
}

ul {
  list-style-type: none;
	margin: 0px;
	padding: 5px;
}

li {
  display: inline;
}

h2 {
  font-size: 1rem;
	text-align: center;
  color: white;
  background-color: hsla(224, 100%, 11%, 0.7);
  border: 1px solid;
	border-radius: 0.5rem;
  border-color: white;
	padding: 0.2rem;
}

#address a img {
	width: 20px;
	height:auto;
	position:relative;
  left:0px;
	top:17px;
	border-radius: 0;
	box-shadow: none;

}

#address a img:hover {
	width: 26px;
	height:auto;
	position:relative;
  transform: scale(1.15);
	border-radius: 0;
	box-shadow: none;
}
